* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 80;
}

#header #main-user .user-info {
    padding-left: 10px;
}

#user-chat {
    padding: 0 20px;
}

.avatar-img > img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgb(68, 68, 68));
}

#chat-icon> a {
    margin: 20px;
} 

/* INIZIO LISTA CHAT TAG ASIDE */

#nav-chat {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    z-index: 90;
}

#user-profile {
    border-right: 1px solid #949292;
    position: absolute;
    top: 0;
    min-height: 100px;
    width: 100%;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.h-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h-icon > a {
    margin: 12px;
    font-size: 18px;
    color: rgb(68, 68, 68);
}

#profile-img {
    margin-left: 15px;
    width: 100%;
}

.notifiche {
    background-color: skyblue;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.notifiche .notifiche-icon {
    color: skyblue;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 50%;
}

.notifiche .notifiche-icon>i {
    font-size: 17px;
}

.notifiche .attiva-not {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.notifiche .attiva-not span,
.notifiche .attiva-not a {
    padding: 3px 0;
}

.notifiche .attiva-not span {
    font-size: 14px;
    font-weight: 600;
}

.notifiche .attiva-not a {
    font-size: 12px;
    color: rgb(68, 68, 68);
    text-decoration: underline;
}

#search {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 180px;
    padding: 15px;
    background-color: #bdbcbc;
}

#search-bar {
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 2px #888888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside #nav-chat #search-bar>a {
    width: 30%;
    color: rgb(68, 68, 68);
    padding: 0 20px;
}
 
 aside #nav-chat #search-bar input {
    width: 70%;
    font-size: 13px;
    border:none;
    padding: 4px 10px;
    outline:none;
} 

#user-list {
    height: 700px;
    position: relative;
    margin-top: 260px; 
    list-style: none;
    background-color: #bdbcbc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.user-item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #949292;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#main-user{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#chat-list>#user-list>.user-item.active {
    background-color: #868686; 
}

.user-item p, 
.user-item h3 {
    padding: 5px 15px;
}

.user-item:last-child {
    margin-bottom: 30px;
    border-bottom: none;
}


/* INIZIO PARTE CHAT TAG MAIN */

.main-chat-user {
    height: 100vh;
    width: 70%;
    padding-top: 100px;
    float: right;
    background-image: url(../img/sfondo\ whatsup.jpg);
    display: none;
    justify-content: center;
}

.main-chat-user.active {
    display: flex;
}

#chat {
    width: 70%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat li {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#chat .left .msg, 
#chat .right .msg {
    padding: 10px 20px;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 4px rgb(68, 68, 68));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#chat li.left {
    align-items: flex-start;
}

#chat .right .msg .hours,
#chat .left .msg .hours {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: 3px;
}

#chat li.left>.msg {
    background-color: #ffffff;
}

#chat li.right {
    align-items: flex-end;
}

#chat li.right>.msg {
    background-color: #54e611;
}

.template {
    display: none;
}

.delete-msg {
    position: absolute;
    top: 56px;
    left: -47px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: red;
    cursor: pointer;
    display: none;
}

/* SEZIONE INPUT PER INVIO MESSAGGI NEL TAG FOOTER */

#my-message {
    background-color: #cccccc;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70%;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 80;
}

.f-icon a{
    padding: 5px;
    font-size: 25px;
    color: rgb(68, 68, 68);
}

#user-input {
    width: 60%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 2px #888888;
}

#user-input input {   
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: none;
    border-radius: 50%;
    outline:none;
} 

.f-icon .fa-microphone.hidden {
    display: none;
}

.f-icon .fa-chevron-right {
    display: none;
}

.f-icon .fa-chevron-right.active {
    display: block;
}